<h1>Canada - Postal codes beginning with M are located within the city of Toronto in the province of Ontario</h1>

<h3>The Data is available in Wikipedia and we will extracting for there</h3>

In [1]:
import pandas as pd

In [2]:
#Read the html using the pandas read HTML 
html_data = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [10]:
#Read the data
html_data

[    Postcode           Borough  \
 0        M1A      Not assigned
 1        M2A      Not assigned
 2        M3A        North York
 3        M4A        North York
 4        M5A  Downtown Toronto
 5        M6A        North York
 6        M6A        North York
 7        M7A  Downtown Toronto
 8        M8A      Not assigned
 9        M9A      Queen's Park
 10       M1B       Scarborough
 11       M1B       Scarborough
 12       M2B      Not assigned
 13       M3B        North York
 14       M4B         East York
 15       M4B         East York
 16       M5B  Downtown Toronto
 17       M5B  Downtown Toronto
 18       M6B        North York
 19       M7B      Not assigned
 20       M8B      Not assigned
 21       M9B         Etobicoke
 22       M9B         Etobicoke
 23       M9B         Etobicoke
 24       M9B         Etobicoke
 25       M9B         Etobicoke
 26       M1C       Scarborough
 27       M1C       Scarborough
 28       M1C       Scarborough
 29       M2C      Not assigned
 ..       ...               ...
 257      M9X      Not assigned
 258      M1Y      Not assigned
 259      M2Y      Not assigned
 260      M3Y      Not assigned
 261      M4Y  Downtown Toronto
 262      M5Y      Not assigned
 263      M6Y      Not assigned
 264      M7Y      East Toronto
 265      M8Y         Etobicoke
 266      M8Y         Etobicoke
 267      M8Y         Etobicoke
 268      M8Y         Etobicoke
 269      M8Y         Etobicoke
 270      M8Y         Etobicoke
 271      M8Y         Etobicoke
 272      M8Y         Etobicoke
 273      M9Y      Not assigned
 274      M1Z      Not assigned
 275      M2Z      Not assigned
 276      M3Z      Not assigned
 277      M4Z      Not assigned
 278      M5Z      Not assigned
 279      M6Z      Not assigned
 280      M7Z      Not assigned
 281      M8Z         Etobicoke
 282      M8Z         Etobicoke
 283      M8Z         Etobicoke
 284      M8Z         Etobicoke
 285      M8Z         Etobicoke
 286      M9Z      Not assigned

                                           Neighborhood
 0                                         Not assigned
 1                                         Not assigned
 2                                            Parkwoods
 3                                     Victoria Village
 4                                         Harbourfront
 5                                     Lawrence Heights
 6                                       Lawrence Manor
 7                                         Queen's Park
 8                                         Not assigned
 9                                         Not assigned
 10                                               Rouge
 11                                             Malvern
 12                                        Not assigned
 13                                     Don Mills North
 14                                    Woodbine Gardens
 15                                       Parkview Hill
 16                                             Ryerson
 17                                     Garden District
 18                                           Glencairn
 19                                        Not assigned
 20                                        Not assigned
 21                                          Cloverdale
 22                                           Islington
 23                                        Martin Grove
 24                                    Princess Gardens
 25                                     West Deane Park
 26                                      Highland Creek
 27                                          Rouge Hill
 28                                          Port Union
 29                                        Not assigned
 ..                                                 ...
 257                                       Not assigned
 258                                       Not assigned
 259                                       Not assigned
 260                                       Not assigned
 261                               Church and Wellesley
 262                                       Not assigned
 263                                       Not assigned
 264  Business Reply Mail Processing Centre 969 Eastern
 265                                         Humber Bay
 266                                   King's Mill Park
 267                           Kingsway Park South East
 268                                          Mimico NE
 269                                     Old Mill South
 270                                 The Queensway East
 271                              Royal York South East
 272                                           Sunnylea
 273                                       Not assigned
 274                                       Not assigned
 275                                       Not assigned
 276                                       Not assigned
 277                                       Not assigned
 278                                       Not assigned
 279                                       Not assigned
 280                                       Not assigned
 281                           Kingsway Park South West
 282                                          Mimico NW
 283                                 The Queensway West
 284                              Royal York South West
 285                                     South of Bloor
 286                                       Not assigned

 [287 rows x 3 columns],
                                                   0   \
 0                                                NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 2                                                 NL
 3                                                  A

                                                   1   \
 0                              Canadian postal codes
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 2                                                 NS
 3                                                  B

                                                   2    3    4    5    6    7   \
 0                                                NaN  NaN  NaN  NaN  NaN  NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...  NaN  NaN  NaN  NaN  NaN
 2                                                 PE   NB   QC   QC   QC   ON
 3                                                  C    E    G    H    J    K

     8    9    10   11   12   13   14   15     16   17
 0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
 1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
 2   ON   ON   ON   ON   MB   SK   AB   BC  NU/NT   YT
 3    L    M    N    P    R    S    T    V      X    Y  ,
    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15     16  17
 0  NL  NS  PE  NB  QC  QC  QC  ON  ON  ON  ON  ON  MB  SK  AB  BC  NU/NT  YT
 1   A   B   C   E   G   H   J   K   L   M   N   P   R   S   T   V      X   Y]

In [11]:
#1st item in the html
df = html_data[0]
df.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

-----------------

<b>Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [15]:
df = df[df['Borough']!='Not assigned']

In [16]:
df.head()

  Postcode           Borough      Neighborhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

<b>More than one neighborhood can exist in one postal code area. These two rows will be combined into one row with the neighborhoods separated with a comma</b>

In [18]:
df = df.groupby(['Postcode','Borough'], sort=False).agg( ', '.join)

In [51]:
df.reset_index(inplace=True)

------------------------

<b>If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [52]:
#df[df['Neighborhood'] =='Not assigned']
df.loc[df['Neighborhood']=='Not assigned','Neighborhood']=df['Borough']

In [61]:
df.head(10)

  Postcode           Borough                      Neighborhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto                      Harbourfront
3      M6A        North York  Lawrence Heights, Lawrence Manor
4      M7A  Downtown Toronto                      Queen's Park
5      M9A      Queen's Park                      Queen's Park
6      M1B       Scarborough                    Rouge, Malvern
7      M3B        North York                   Don Mills North
8      M4B         East York   Woodbine Gardens, Parkview Hill
9      M5B  Downtown Toronto          Ryerson, Garden District

------------------------------

<h2>Steps done Explenation</h2>
<ul>
  <li>Pulled the data from wikipedia using the Pandas read_html method</li>
  <li>cleanded the missing Borough Names</li>
  <li>Missing Neighborhood are filled with Borough names</li>
</ul>

In [62]:
df.shape

(103, 3)